<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }} - {{ difficulty.name }} Quiz</title>
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>CODEX</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">My Profile</a></li>
                <li><a href="{% url 'top_scorers' %}">Top Scorers</a></li>
            </ul>
        </nav>
    </header>
    <h1>{{ category.name }} - {{ difficulty.name }} Quiz</h1>

    {% if message %}
        <div class="alert">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {% for question in questions %}
            <p>{{ question.question_text }}</p>
            <input type="radio" name="question_{{ question.id }}" value="1"> {{ question.option1 }}<br><br>
            <input type="radio" name="question_{{ question.id }}" value="2"> {{ question.option2 }}<br><br>
            <input type="radio" name="question_{{ question.id }}" value="3"> {{ question.option3 }}<br><br>
            <input type="radio" name="question_{{ question.id }}" value="4"> {{ question.option4 }}<br><br><br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2025 Codex Quiz Platform. All Rights Reserved.</p>
    </footer>
</body>
</html>

